// this is an extention for the for the style of the base.scss


.body {
    background: #104547;
    font-family: Electrolize, sans-serif;
    color: #fff;
    text-align: center;
    font-size: 20px;
    padding-top: 60px;
  }
  


 #ham {
    background: crimson;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    box-sizing: border-box;
    padding: 38px 20px 0 34px;
    display: block;
    cursor: pointer;
    position: fixed;
    left: -3vw;
    top: -4%;
    border: 6px solid #000;
    z-index: 500;
    opacity: .9;
    transition: opacity .3s;
  }
  
//   second handburger nav.
  .sec-ham {
    background: #4b5358;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    box-sizing: border-box;
    padding: 38px 20px 0 34px;
    display: block;
    cursor: pointer;
    position: fixed;
    left: -3vw;
    top: -4%;
    border: 6px solid #000;
    z-index: 500;
    opacity: .9;
    transition: opacity .3s;
  }

#ham:hover {opacity:1}

#secc-ham:hover {opacity:1}

#ham span {
  display: block;
  background: #fff;
  width: 100%;
  height: 2px;
  margin-bottom: 3px;
  transition: transform .3s;
}

#sec-ham span {
  display: block;
  background: #fff;
  width: 100%;
  height: 2px;
  margin-bottom: 3px;
  transition: transform .3s;
}



#tog:checked ~ nav {transform: rotate(-20deg)}
#tog:checked ~ #ham span {transform: rotate(-90deg)}

#tog:checked ~ nav {transform: rotate(-20deg)}
#tog:checked ~ #sec-ham span {transform: rotate(-90deg)}

#tog:checked ~ nav {transform: rotate(-20deg)}



.sec-nav {
    background: #4b5358;
    position: fixed;
    top: 0;
    transform: translateX(-278px);
    width: 278px;
    height: 830px;
    padding-top: 115px;
    margin-top: -10px;
    box-sizing: border-box;
    transition: transform .3s, left .3s;
    overflow: hidden;
    text-decoration: none;
    z-index: 99;
  }
  
  


  .sec-nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    text-align: center;
    padding: 20px;
    width: 95%;
    border-bottom: 1px solid #fff;
    transition: background .3s;
    transform: rotate(20deg);
    position: relative;
  }
  
 
  .sec-nav li:last-child a {border-bottom: none}

  .sec-nav a:hover {background: darkred}
  
  
.sec-nav a:before {
    content: '';
    // background: crimson;
    width: 22px;
    height: 58px;
    position: absolute;
    left: -7%;
    top: 0px;
    transition: background .3s;
    text-decoration: none;
    
  }
  
 
  
  .name { 
  
    font-family: 'Montserrat', sans-serif;
  
    font-family: 'Indie Flower', cursive;
  
    // border: 2px solid black; 
  
  }
  
  .cover {
     overflow: hidden;
     padding: 50px;
     
     font-family: 'Yanone Kaffeesatz', sans-serif;
  
  }
// ==========START OF EDUCATION PAGE =========================
.edu-body {
  background-image: url(../images/education.jpg);
  background-attachment: fixed; 
  font-family: Electrolize, sans-serif;
  color: #fff;
  text-align: center;
  font-size: 20px;
  padding-top: 60px;
  color: black;
}  

// third hamburger nav  
.third-ham {
  background: #4c4c47;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  box-sizing: border-box;
  padding: 38px 20px 0 34px;
  display: block;
  cursor: pointer;
  position: fixed;
  left: -3vw;
  top: -4%;
  border: 6px solid #000;
  z-index: 500;
  opacity: .9;
  transition: opacity .3s;
}



#third-ham span {
  display: block;
  background: #fff;
  width: 100%;
  height: 2px;
  margin-bottom: 3px;
  transition: transform .3s;

}

#tog:checked ~ #third-ham span {transform: rotate(-90deg)}

.third-nav {
  background: #393939;
  position: fixed;
  top: 0;
  transform: translateX(-278px);
  width: 278px;
  height: 830px;
  padding-top: 115px;
  margin-top: -10px;
  box-sizing: border-box;
  transition: transform .3s, left .3s;
  overflow: hidden;
  text-decoration: none;
  z-index: 99;
}

.third-nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  text-align: center;
  padding: 20px;
  width: 95%;
  border-bottom: 1px solid #fff;
  transition: background .3s;
  transform: rotate(20deg);
  position: relative;
}



.third-nav a:before {
  content: '';
  // background: crimson;
  width: 22px;
  height: 58px;
  position: absolute;
  left: -7%;
  top: 0px;
  transition: background .3s;
  text-decoration: none;
  
}

.third-nav li:last-child a {border-bottom: none}

  .third-nav a:hover {background: darkred}




  .edu-header {
    font-family: 'Srisakdi', cursive;
    letter-spacing: 10px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 2px ;
    background-color: black;
    color: black;
    border-left-style: solid;
    margin-right: 150px;
    margin-left: 200px;
    border-left-width: 0px;
    border-radius: 20px;


  }

  .school {
    border: 5px solid black;
    overflow: hidden;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 10px;
    background-color: #c2a83e;
  }

  .sec-edu , 
  .pri-edu,
  .tertiary-edu {
    text-align: center;
    text-decoration: underline solid black;
    font-size: 30px;
    letter-spacing: 8px;
  }

  .main-primary {
    list-style: circle;
    list-style: black ;
    padding-right: 50px;
    padding-left: 0px;
    text-align: center;
    overflow: hidden;
  }

.edu-footer {
  padding-top: 20px;
font-size: 25px;
background-color: black;
opacity: 0.5;
margin-top: 20px;
color: white;
}
// --------- END OF EDUCATION PAGE -------------

// ---------START OF SKILLS PAGE---------

.html5 {
  width: 100px;
  height: 100px;
  color: #000;
  font-size: 50px
}



// stylying of nav bar=======


// forth hamburger nav  
.forth-ham {
  background: #4c4c47;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  box-sizing: border-box;
  padding: 38px 20px 0 34px;
  display: block;
  cursor: pointer;
  position: fixed;
  left: -3vw;
  top: -4%;
  border: 6px solid #000;
  z-index: 500;
  opacity: .9;
  transition: opacity .3s;
}



#forth-ham span {
  display: block;
  background: #fff;
  width: 100%;
  height: 2px;
  margin-bottom: 3px;
  transition: transform .3s;

}

#tog:checked ~ #forth-ham span {transform: rotate(-90deg)}

.forth-nav {
  background: #393939;
  position: fixed;
  top: 0;
  transform: translateX(-278px);
  width: 278px;
  height: 830px;
  padding-top: 115px;
  margin-top: -10px;
  box-sizing: border-box;
  transition: transform .3s, left .3s;
  overflow: hidden;
  text-decoration: none;
  z-index: 99;
}

.forth-nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  text-align: center;
  padding: 20px;
  width: 95%;
  border-bottom: 1px solid #fff;
  transition: background .3s;
  transform: rotate(20deg);
  position: relative;
}



.forth-nav a:before {
  content: '';
  // background: crimson;
  width: 22px;
  height: 58px;
  position: absolute;
  left: -7%;
  top: 0px;
  transition: background .3s;
  text-decoration: none;
  
}

.forth-nav li:last-child a {border-bottom: none}

  .forth-nav a:hover {background: darkred}


  // Adding styles of the body of the skills page

  .skills body {

    background-image: url(/images/background-skills.jpg)
  }

  .html5 {
    font-size: 50px ;
    color: #000;
    overflow: hidden;
  }
  

  .contact-list {
    overflow: hidden;
    font-size: 5rems;
    margin: 0 auto;
    

}


.fas,
.fab {
  background-color: transparent;
  width: 20px;
  height: 20px;
  padding-right: 20px;
}

#list {
  margin: 10px;
}